@{
    ViewData["Title"] = "CreateBonoView";
}

<script src="~/scripts/Bono/CrearBono.js"></script>
<script src="~/scripts/Bono/TablaBonos.js"></script>

<br />
<br />
<br />

<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">CreateBonoView</h1>
        <hr />
        <br />
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        <label for="PCVA">Precio de Venta del Activo</label>
                        <input type="number" class="form-control" id="PCVA" value="150000" placeholder="Ingrese el Monto total">
                    </div>

                    <div class="mb-4">
                        <label for="C_I">% Cuota Inicial</label>
                        <input type="number" class="form-control" id="C_I" value="20" placeholder="Ingrese el Adelanto">
                    </div>

                    <div class="mb-4">
                        <label for="N_A">Nº de Años</label>
                        <input type="number" class="form-control" id="N_A" value="20" placeholder="Ingrese el tiempo en años">
                    </div>

                    <div class="mb-4">
                        <label for="FP">Frecuencia de pago</label>
                        <select class="form-control" id="FP">
                            <option value="12">Mensual</option>
                            <option value="6">Bimestral</option>
                            <option value="4">Trimestral</option>
                            <option value="3">Cuatrimestral</option>
                            <option value="2">Semestral</option>
                            <option value="1">Anual</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-4">
                        <label for="Tasa">Tasa</label>
                        <input type="number" class="form-control" id="Tasa" value="0.05" placeholder="Ingrese la tasa de interés">
                    </div>

                    <div class="mb-4">
                        <label for="PeriodoGracia">Periodo de Gracia</label>
                        <select class="form-control" id="PeriodoGracia" onchange="mostrarNumeroPeriodos()">
                            <option value="0">No</option>
                            <option value="1">Total</option>
                            <option value="2">Parcial</option>
                        </select>
                    </div>

                    <div class="mb-4" id="DivNumeroPeriodos" style="display: none;">
                        <label for="NumeroPeriodos">Número de Periodos de Gracia</label>
                        <input type="number" class="form-control" id="NumeroPeriodos" placeholder="Ingrese el número de periodos">
                    </div>
                </div>
            </div>

            <div class="text-end">
                <a id="ButtonCreate" class="btn btn-success" onclick="crearTabla()">Create</a>
                <div></div> <!-- Espacio vacío para alinear a la derecha -->
            </div>
        </form>
    </div>
</div>
        

