    @{
    ViewData["Title"] = "CreateBonoView";
}

<script src="~/scripts/Bono/CrearBono.js"></script>

<h1>CreateBonoView</h1>

 
<div class="form-group mb-4">
    <label>Precio de Venta del Activo</label>
    <input type="number" class="form-control" id="PCVA" value="150000" placeholder="Ingrese el Monto total">
</div>

<div class="form-group mb-4">
    <label>
        % Cuota Inicial
    </label>
    <input type="number" class="form-control" id="C_I" value="20" placeholder="Ingrese el Monto total">
</div>

<div class="form-group mb-4">
    <label>
        Nº de Años
    </label>
    <input type="number"  class="form-control" id="N_A" value="20" placeholder="Ingrese el Adelanto">
</div>

<div class="form-group mb-4">
    <label>
        Frecuencia de pago
    </label>
    <input type="number" class="form-control" id="FP" value="30" placeholder="Ingrese el Monto Desembolsado">
</div>

<div class="form-group mb-4">
    <label>
        Nº de días por año || aca no jala
    </label>
    <input type="number" class="form-control" id="NDXA" value="360" placeholder="Ingrese el Monto Desembolsado">
</div>

<!-- <<<<<<<< -->

<div class="form-group mb-4">
    <label>
        Costes Notariales
    </label>
    <input type="number" class="form-control" id="Cost_N" value="150" placeholder="Ingrese la Tasa">
</div>

<div class="form-group mb-4">
    <label>
        Costes Registrales
    </label>
    <input type="number" class="form-control" id="C_R" value="250" placeholder="Ingrese el Tiempo Periodo de Gracia">
</div>


<div class="form-group mb-4">
    <label>
        Tasación
    </label>
    <input type="number" class="form-control" id="Tasacion" value="100" placeholder="Ingrese el Tiempo de Prestamo">
</div>

<div class="form-group mb-4">
    <label>
        Comisión de estudio
    </label>
    <input type="number" class="form-control" id="C_E" value="50" placeholder="Ingrese la tasa de seguro degravamen">
</div>

<div class="form-group mb-4">
    <label>
        Comisión activación
    </label>
    <input type="number" class="form-control" id="C_A" value="0" placeholder="Ingrese la tasa de seguro de Inmueble">
</div>


<!-- <<<<<<<< -->


<div class="form-group mb-4">
    <label>
        Comisión periodica
    </label>
    <input type="number" class="form-control" id="Com_Pe" value="0" placeholder="Ingrese la tasa de seguro de Inmueble">
</div>

<div class="form-group mb-4">
    <label>
        Portes
    </label>
    <input type="number" class="form-control" id="Portes" value="4" placeholder="Ingrese la tasa de seguro de Inmueble">
</div>

<div class="form-group mb-4">
    <label>
        Gastos de Administración
    </label>
    <input type="number" class="form-control" id="GA_AD" value="0" placeholder="Ingrese la tasa de seguro de Inmueble">
</div>

<div class="form-group mb-4">
    <label>
        % de Seguro desgravamen
    </label>
    <input type="number" class="form-control" id="S_DV" value="0.05" placeholder="Ingrese la tasa de seguro de Inmueble">
</div>

<div class="form-group mb-4">
    <label>
        % de Seguro riesgo
    </label>
    <input type="number" class="form-control" id="S_R" value="0.03" placeholder="Ingrese la tasa de seguro de Inmueble">
</div>

<div class="form-group mb-4">
    <label>
        Tasa de Descuento
    </label>
    <input type="number" class="form-control" id="T_D" value="25" placeholder="Ingrese la tasa de seguro de Inmueble">
</div>


<a id="ButtonCreate" class="btn btn-success ">Create</a>
<a id="ButtonTest" class="btn btn-danger ">Test</a>