@{
    ViewData["Title"] = "LeasingTableResultView";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div id="id_box" hidden>@ViewBag.Message</div>
<script src="~/scripts/Bono/LeasingBonoResult.js"></script>
<br />
<br />
<h1 class="text-center">Leasing</h1>
<hr />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-left: -30px">
            <table class="table table-bordered table-striped" id="Leasing-Table">
                <thead>
                    <tr>
                        <th>N° de Cuota</th>
                        <th>Tasa</th>
                        <th>Saldo Inicial</th>
                        <th>Intereses</th>
                        <th>Cuota</th>
                        <th>Amortizacion</th>
                        <th>Saldo Final</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
       
        <div class="col-md-4" style="margin-left: 50px; width: 600px; height: 1500px; margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Finanzas</h5>
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['PC1', 'TP', 'EP', 'ED', 'TF'],
            datasets: [{
                label: 'Probabilidades de aprobar el curso',
                data: [15, 17, 14, 13, 20],
                backgroundColor: ['rgba(255, 159, 64, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2), rgba(41, 214, 47, 0.8)'],
                borderColor: ['rgb(255, 159, 64)', 'rgb(75, 192, 192)', 'rgb(153, 102, 255),rgb(222, 13, 232)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
