@{
    ViewData["Title"] = "LeasingTableResultView";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div id="id_box" hidden>@ViewBag.Message</div>
<script src="~/scripts/Bono/LeasingBonoResult.js"></script>
<br />
<br />
<h1 class="text-center">Leasing</h1>
<hr />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-left: -30px">
            <table class="table table-bordered table-striped" id="Leasing-Table">
                <thead>
                    <tr>
                        <th>N° de Cuota</th>
                        <th>Tasa</th>
                        <th>Saldo Inicial</th>
                        <th>Intereses</th>
                        <th>Cuota</th>
                        <th>Amortizacion</th>
                        <th>Saldo Final</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
       
        <div class="col-md-4" style="margin-left: 50px; width: 600px; height: 1500px; margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gráfico de Ejemplo</h5>
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Etiqueta 1', 'Etiqueta 2', 'Etiqueta 3', 'Etiqueta 4', 'Etiqueta 5'],
            datasets: [{
                label: 'Datos de ejemplo',
                data: [12, 19, 3, 5, 2],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
