@{
    ViewData["Title"] = "TablaBonoViews";
}

<script src="~/scripts/Bono/TablaBonos.js"></script>


<nav class="navbar navbar-expand-lg"></nav>
<br />
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Tabla de Préstamos</h1>
        <hr />
        <br />
        <table class="table table-bordered table-striped" style="width:100%" id="table-Bonos">
            <thead>
                <tr>
                    <th class="text-center">Acciones</th>
                    <th class="text-center">ID</th>
                    <th class="text-center">Precio de Venta</th>
                    <th class="text-center">% Cuota Inicial</th>
                    <th class="text-center">N Años</th>
                    <th class="text-center">Frecuencia de Pago</th>
                    <th class="text-center">Tasa</th>
                    <th class="text-center">Periodo_Capitalización</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<br />
<a class="btn btn-success" id="btn-agregar">Agregar</a>
