@{ViewData["Title"] = "TablaBonoViews";}

<script src="~/scripts/Bono/GetBonos.js"></script>

<br />
<br />

<table class="table table-bordered table-striped" style="width:100%" id="table-Bonos">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Id Prestamo</th>
            <th>Tipo Moneda</th>
            <th>Monto Total</th>
            <th>Adelanto</th>
            <th>Monto Desembolsado</th>
            <th>Tipo de Tasa</th>
            <th>Tiempo Tasa</th>
            <th>Tasa</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>